<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Box model</title>
    <link rel="stylesheet" href="app_boxmodel.css">
</head>

<body>
    <h1>Hello! <span>:)</span></h1>
    <div id="one">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam alias, suscipit ducimus quis beatae, veritatis
        unde tempore doloremque dolorum distinctio ab ipsum dolorem in iusto vel modi corrupti maiores animi.
    </div>
    <div id="two">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam alias, suscipit ducimus quis beatae, veritatis
        unde tempore doloremque dolorum distinctio ab ipsum dolorem in iusto vel modi corrupti maiores animi.
    </div>
    <div id="three">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam alias, suscipit ducimus quis beatae, veritatis
        unde tempore doloremque dolorum distinctio ab ipsum dolorem in iusto vel modi corrupti maiores animi.
    </div>
    <button>pad me</button>
</body>

</html>