<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Evidence</h1>

    <h2><%= name %></h2>

    <% for( let i of find_Evidence ) { %>
    <div>
        <img src="<% i.url %>" alt="">
        <p></p>
    </div>
    <% } %>

</body>
</html>